/*
    Paleta de colores:
    #191E34
    #0D4C57
    #00797D
    #41A48E
    #FFFFD2
*/

.homeDiv {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.title {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.titlePage {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.logIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.labelInfo {
    font-size: small;
}

.labelError {
    color: red;
    font-size: small;
    width: 100%;
    text-align: end;
}

.logInButton {
    width: 100%;
}

.signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.signUpButton {
    width: 100%;
}

.defaultBackground {
    background-color: lightgray;

}

.registerEmployeeForm {
    border-top: 5px solid #41A48E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    height: fit-content;
    width: 500px;
    border-radius: 5px;
    background-color: white;
}

.buyInsuranceForm {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    width: 100%;
    max-width: 1024px; 
    margin-left: auto;
    margin-right: auto;
}

.buyInsuranceForm h2 {
    color: #333;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.buyInsuranceForm .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
}

    .buyInsuranceForm .form-group label {
        flex-basis: 100%; 
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .buyInsuranceForm .form-control,
    .buyInsuranceForm select.form-control {
        flex: 1;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        font-size: 16px;
        border: 1px solid #ccc;
    }

    .buyInsuranceForm .form-group .form-control:last-child {
        margin-right: 0;
        
    }

    .buyInsuranceForm .btn-primary {
        background-color: #000000;
        border-color: #000000;
        color: #ffffff;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 4px;
        width: auto; 
        margin-top: 1rem;
    }

    .info-icon {
        display: inline-block;
        margin-left: 5px;
        cursor: help;
    }
    

    .description-text {
        max-width: 800px; /* O el ancho que prefieras para centrar el texto */
        margin: 0 auto; /* Margen automático para centrar horizontalmente */
        padding: 1rem; /* Añade padding si es necesario */
    }
    .header-container {
        background-color: #fff; /* Establece el fondo blanco */
        padding: 2rem 0; /* Añade padding vertical */
    }

@media (max-width: 768px) {
    .buyInsuranceForm .form-group {
        flex-direction: column;
    }

    .buyInsuranceForm .form-control {
        margin-right: 0;
        margin-bottom: 1rem;
        flex-basis: auto; 
    }

    .buyInsuranceForm select.form-control {
        flex-basis: auto; 
    }

    .buyInsuranceForm .form-group .form-control:last-child {
        margin-bottom: 0;
    }
}


.form-inline-group {
    display: flex;
    justify-content: space-between;
}

.form-inline-group > div {
    flex-basis: calc(50% - 0.5rem); 
}

@media (max-width: 992px) {
    .form-inline-group > div {
        flex-basis: 100%; 
    }
}


.insurance-banner {
    height: 50vh; 
    background-image: url('/src/img/bannerPoliza.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.registerEmployeeButton {
    margin-top: 10px;
    width: 100%;
}

.nameSection {
    flex: 1;
    margin-right: 15px;
}

.lastNameSection {
    flex: 1;
}

.flexInputField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.inputField {
    width: 100%;
}

.primaryButton {
    margin-top: 15px;
    width: 100%;
}

.inputFieldLabel {
    font-weight: 500;
}